@font-face {
  font-family: rubikM;
  src:url(../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: rubikL;
  src:url(../fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: rubikR;
  src:url(../fonts/Rubik-Regular.ttf);
}
body {
  position: relative;
  font-family:'rubikR', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}
b, strong{
  font-family:rubikM;
  font-weight:normal;
}
.no-padding {
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family:rubikM;
  font-weight: 400;
}

img {
  border: none;
  max-width: 100%;
}
.w-100{
  width: 100%;
}
.relative{
  position: relative;
}
.spad{
  padding: 85px 0px;
}
section{
  display: inline;
  float: left;
  width: 100%;
}
/*==================
 HEADER SECTION
====================*/
#header {
  display: inline;
  float: left;
  width: 100%;
}
#header .header-top {
  border-bottom: 1px solid #E8E8E8;
  display: inline;
  float: left;
  width: 100%;
  background: #000000;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
}
#header .header-top .header-top-area {
  color:#fff;
  display: inline;
  float: left;
  width: 100%;
  padding: 5px 0px;
}
#header .logo img{
  max-height: 60px;
}
#header .header-bottom {
  float: left;
  display: inline;
  width: 100%;
  padding: 10px 0;
  border-bottom:1px solid #e6dede;
}
#header .header-bottom .header-bottom-area {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#header .header-bottom .header-bottom-area .search-box {
  position: relative;
  width: 300px;
  margin-right: 50px;
}
#header .header-bottom .header-bottom-area .login{
  margin-right: 40px;
}
#header .header-bottom .header-bottom-area .cart-badge{
  position: absolute;
  font-size: 12px;
  background: #ec603f;
  width: 18px;
  border-radius: 20px;
  right: 0px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  text-align: center;
}
#header .header-bottom .header-bottom-area .search-box input[type="text"] {
  border: 1px solid #ddd;
  color: #555;
  font-size: 14px;
  height: 40px;
  padding: 10px 55px 10px 10px;
  width: 100%;
  background: #f4f4f4;
  border-radius: 4px;
  margin:0px;
}
#header .header-bottom .header-bottom-area .search-box button {
  border: medium none;
  color: #fff;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  background: #000;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  border-radius: 0px 4px 4px 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#header .header-bottom .header-bottom-area .search-box button:hover {
  opacity: 0.7;
}
.header-bottom-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header-bottom .cartbox {
  position: relative;
}
#header .header-bottom .cartbox .cart-link, .login-link {
  font-size: 22px;
  padding:5px 10px;
  position: relative;
  height: auto;
  display: block;
}
#header .header-bottom .cartbox .cart-link .fa-shopping-basket {
  z-index: 99;
  position: relative;
}
#header .header-bottom .cartbox .cart-link .cart-title {
  color: #555;
  display: block;
  font-size: 14px;
}
#header .header-bottom .cartbox .cartbox-summary {
  background-color: #fff;
  border: 1px solid #E9E9E9;
  display: none;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  z-index: 9999;
}
#header .header-bottom .cartbox .cartbox-summary:after, 
#header .header-bottom .cartbox .cartbox-summary:before {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#header .header-bottom .cartbox .cartbox-summary:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 9px;
  margin-left: -9px;
}
#header .header-bottom .cartbox .cartbox-summary:before {
  border-color: rgba(233, 233, 233, 0);
  border-bottom-color: #e9e9e9;
  border-width: 10px;
  margin-left: -10px;
}
#header .header-bottom .cartbox:hover .cartbox-summary{
  display: block;
}
#header .header-bottom .cartbox .cartbox-summary ul li {
  border-bottom: 1px solid #e2e2e2;
  display: block;
  float: left;
  margin-bottom: 15px;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
}
#header .header-bottom .cartbox .cartbox-summary ul li:last-child {
  border: none;
  margin-bottom: 0px;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-img {
  display: block;
  float: left;
  height: 95px;
  width: 80px;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-img img {
  width: 100%;
  height: 100%;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-info {
  display: block;
  float: left;
  margin-left: 10px;
  width: 55%;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-info h4 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 20px;
  margin-top: 0;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-info h4 a {
  color: #333333;
  letter-spacing: 0.5px;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-info p {
  font-size: 16px;
}
#header .header-bottom .cartbox .cartbox-summary ul li .remove-product {
  border: 1px solid transparent;
  border-radius: 50%;
  color: #c0c0c0;
  font-size: 12px;
  height: 20px;
  line-height: 17px;
  position: absolute;
  right: 0;
  top: 30%;
  width: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#header .header-bottom .cartbox .cartbox-summary ul li .remove-product:hover, 
#header .header-bottom .cartbox .cartbox-summary ul li .remove-product:focus {
  color: #333;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-total-title {
  float: left;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}
#header .header-bottom .cartbox .cartbox-summary ul li .cartbox-total-price {
  float: right;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
}
a.cartbox-checkout-btn {
  width: 100%;
  background: #000;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  color: #fff;
  display: block;
  float: left;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  transition: all 0.5s;
}
a.cartbox-checkout-btn:hover{
  opacity: 0.8;
}
/*==================
 NAVBAR SECTION
====================*/

#menu {
  display: inline;
  float: left;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
}
#menu .menu-area {
  float: left;
  display: inline;
  width: 100%;
}
#menu .menu-area .navbar-default {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: auto;
}
#menu .menu-area .navbar-default .navbar-nav {
  display: inline-block;
  margin: 0;
  text-align: center;
  width: 100%;
}
#menu .menu-area .navbar-default .navbar-nav li{
  display: inline-block;
  float: none;
}
#menu .menu-area .navbar-default .navbar-nav li a {
  color:rgba(3, 2, 26, 0.6);
  font-size: 14px;
  padding: 10px 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#menu .menu-area .navbar-default .navbar-nav li.active a,
#menu .menu-area .navbar-default .navbar-nav li a:hover{
  color:#ec603f;
  background-color: transparent;
}
#menu .menu-area .navbar-default .navbar-nav li:hover > ul.dropdown-menu{
  display: block !important;
}
#menu .menu-area .navbar-default .navbar-nav .open a {
  background-color: #fff;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li{
  display: block;
}
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a {
  padding: 8px 15px;
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:hover, 
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu li a:focus {
  color: #fff; 
}
#menu .menu-area .navbar-default .navbar-nav .dropdown-menu .dropdown-header {
  color: #555;
  display: block;
  font-size: 16px;
  padding: 3px 20px;
  text-transform: uppercase;
}

/*==================
  SLIDER SECTION
====================*/

#slider {
  float: left;
  width: 100%;
  position: relative;
}
.carousel-control{
  width: 5%;
  background-image: none !important;
}
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 5;
    display: inline-block;
    font-size: 40px;
}
.carousel-control .fa-angle-right{
  right: 40px;
}
.carousel-control:hover, .carousel-control:focus {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}
.carousel-indicators li {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 2px solid rgba(0,0,0,.2);
    margin: 0 3px;
}
.carousel-indicators li.active {
    background-color: #222;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: none;
}
/*==================
  PRODUCT SECTION
====================*/

#product {
  display: inline;
  float: left;
  width: 100%;
}
h2.section-title{
  font-size: 26px;
  text-align: center;
  margin: 35px 0px;
  font-weight: 400;
  line-height: 40px;
}
#product .product-area,#product .product-area .product-inner {
  display: inline;
  float: left;
  width: 100%;
}
#product .product-area .product-inner .product-catg {
  margin-bottom: 30px;
}
.product-catg:hover figure .add-card-btn {
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.product-catg figure .product-img img{
  background-color: #f9f9fb;
  width: 100%;
  display: block;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.product-catg figure .add-card-btn {
  background: #000 none repeat scroll 0 0;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  bottom: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  left: 0;
  padding: 12px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.product-catg figure .add-card-btn span {
  margin-right: 5px;
}
figcaption{
  text-align: center;
}
.product-catg .product-title {
  color: #333;
  margin-bottom: 5px;
}
.product-catg .product-title a {
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.product-catg .product-price {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.product-catg .product-price del {
  margin-left: 5px;
}
/*==================
 category & FLICKITY SLIDER
====================*/
.carousel-cell {
    width: 25%;
    padding: 0px 15px;
    text-align: center;
}
#category{
  padding-bottom: 50px;
  display: inline;
  float: left;
  width: 100%;
}
#category .flickity-prev-next-button{
  top:-55px;
  right: 15px;
}
#category .flickity-prev-next-button.previous{
  left: auto;
  right: 65px;
}
.carousel-cell .product-img img{
  width: 100%;
}
.flickity-button:focus{
  box-shadow: none !important;
}
/*==================
  BANNER SECTION
====================*/

#banner {
  display: inline;
  float: left;
  width: 100%;
  margin: 10px 0px;
}
#banner .banner-area {
  display: inline;
  float: left;
  width: 100%;
}
#banner .banner-area a {
  display: block;
}
#banner .banner-area a img {
  max-width: 100%;
}
/*==================
 TESTIMONIAL SECTION
====================*/

#testimonial {
  background-attachment: fixed;
  background-image: url("../img/testimonial-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
#testimonial:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#testimonial .testimonial-single {
  color: #fff;
  padding: 60px 0 90px;
  position: relative;
  text-align: center;
}
#testimonial .testimonial-single > p {
  padding: 0 15%;
  margin-bottom: 20px;
}
#testimonial .testimonial-single .testimonial-img {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
#testimonial .testimonial-single .testimonial-quote {
  color: #fff;
  display: block;
  font-size: 35px;
  margin-top: 30px;
}
#testimonial .testimonial-single .testimonial-info p {
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 0;
}

/*==================
 FOOTER FEATURES SECTION
====================*/
.footer-features {
  border-top: 1px solid #ebebeb;
  padding: 38px 0px;
  display: inline;
  float: left;
  width: 100%;
}
.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-list li {
  display: flex;
  flex-direction: column;
}
.feature img {
  max-width: 55px;
  margin: 0px auto 10px;
}
.feature-text {
  font-size: 13px;
  color: #252525;
  display: block;
  line-height: 18px;
}
/*==================
 FOOTER SECTION
====================*/

#footer {
  background-color: #222;
  display: inline;
  float: left;
  width: 100%;
}
#footer .footer-top {
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
  min-height: 100px;
}
#footer .footer-top .footer-top-area {
  display: inline;
  float: left;
  width: 100%;
}
#footer .footer-top .footer-top-area .footer-widget {
  display: block;
}
#footer .footer-top .footer-top-area .footer-widget h3 {
  color: #fff;
  font-size: 20px;
  font-family: 'rubikR';
}
#footer .footer-top .footer-top-area .footer-widget .footer-nav li a {
  color: #888;
  display: block;
  padding: 5px 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#footer .footer-top .footer-top-area .footer-widget .footer-nav li a:hover, 
#footer .footer-top .footer-top-area .footer-widget .footer-nav li a:focus {
  color: #fff;
}
#footer .footer-top .footer-top-area .footer-widget address p {
  margin-bottom: 5px;
  color: #888;
}
#footer .footer-top .footer-top-area .footer-widget address p span {
  margin-right: 5px;
}
#footer .footer-top .footer-top-area .footer-widget .footer-social a {
  border: 1px solid #888;
  color: #888;
  display: inline-block;
  font-size: 18px;
  margin-right: 8px;
  padding: 2px 0;
  text-align: center;
  width: 35px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#footer .footer-top .footer-top-area .footer-widget .footer-social a:hover {
  color: #fff;
  border-color: #fff;
}
#footer .footer-bottom {
  border-top: 1px solid #333;
  display: inline;
  float: left;
  padding: 15px 0;
  width: 100%;
}
#footer .footer-bottom .footer-bottom-area {
  display: inline;
  float: left;
  width: 100%;
}
#footer .footer-bottom .footer-bottom-area > p {
  color: #888;
  display: inline-block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0;
}
#footer .footer-bottom .footer-bottom-area > p a {
  color: #888;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#footer .footer-bottom .footer-bottom-area .footer-payment {
  float: right;
}
#footer .footer-bottom .footer-bottom-area .footer-payment span {
  color: #888;
  margin-left: 8px;
}
#footer .footer-bottom .footer-bottom-area .footer-payment span:hover {
  color: #fff;
}
/*==================
 MY ACCOUNT  PAGE
====================*/

#myaccount {
  display: inline;
  float: left;
  width: 100%;
  padding:85px 0px;
}

.myaccount-login h4 {
  border-bottom: 1px solid #e6dede;
  font-size: 26px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.myaccount-login {
  width: 410px;
  margin: 0px auto;
}

/*---- Login & Register form ----*/

.login-form input[type="text"],
input[type="text"],
input[type="email"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="password"],
textarea {
  border: 1px solid #e6dede;
  font-size: 15px;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}
.login-form label, .register-form label {
  font-weight: normal;
  margin-top: 8px;
}
.login-form label span, .register-form label span {
  color: red;
}
.login-form button, .register-form button,.browse-btn{
  width: 100%;
  border:none;
  font-size: 16px;
  margin-top: 8px;
  background: #000;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  color: #fff;
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
}
.login-form button:hover,
.register-form button:hover,
.browse-btn:hover,
.browse-btn:focus{
    opacity: 0.8;
    color: #ffffff;
}
.lost-password {
  display: flex;
  justify-content: space-between;
  color: #555;
  margin-top: 15px;
  width: 100%;
}
.lost-password a {
  color: #555;
}
.lost-password a:hover {
  color: #ec603f;
}
/*==================
 CONTACT PAGE
====================*/
.contact_text .section-title {
    text-align: left;
    margin-bottom: 40px;
}
.contact_text .section-title h2 {
    font-size: 40px;
    margin: 0px 0px 15px;
}
.contact_text .section-title p {
    color: #707070;
    line-height: 26px;
    margin-bottom: 0;
}
.contact_text ul li {
    list-style: none;
    margin-bottom: 26px;
}
.contact_text ul li h4 {
    color: #111111;
    font-weight: 400;
    margin-bottom: 8px;
}
.contact_text ul li p {
    line-height: 27px;
    margin-bottom: 0;
}
.contact_form input{
    border: 1px solid #e6dede;
    font-size: 15px;
    height: 40px;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}
.contact_form textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #e6dede;
    padding-left: 10px;
    padding-top: 12px;
    font-size: 15px;
    color: #b7b7b7;
    margin-bottom: 30px;
    resize: none;
}
.site-btn{
    width: 100%;
    border: none;
    font-size: 16px;
    background: #000;
    background-image: linear-gradient(to right, #ec603f, #4b1a5a);
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
}
.map {
    height: 500px;
    display: inline;
    float: left;
    width: 100%;
}
.map iframe {
    width: 100%;
}
/*==================
 SERVICE PAGE
 ===================*/
 .service_plan_area {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}
.section-heading h3 {
    margin-bottom: 10px;
    font-size: 26px;
    letter-spacing: 0px;
    margin-top: 0px;
}
.section-heading p {
    margin-bottom: 0;
}
.section-heading .line {
    width: 120px;
    height: 5px;
    margin: 30px auto 0;
    border-radius: 6px;
    background: #4b1a5a;
    background: -webkit-gradient(linear, left top, right top, from(#ec603f), to(#4b1a5a));
    background: linear-gradient(to right, #ec603f, #4b1a5a);
}
.single_service_plan {
    position: relative;
    z-index: 1;
    border-radius: 6px 6px 0 0;
    margin-bottom: 50px;
    background-color: #ffffff;
    padding: 30px 40px;   
}
.single_service_plan::after {
    position: absolute;
    content: "";
    background-image: url("../img/half-circle.png");
    background-repeat: repeat;
    width: 100%;
    height: 17px;
    bottom: -17px;
    z-index: 1;
    left: 0;
}
.single_service_plan .title {
    text-transform: capitalize;
    margin-bottom: 20px;
}
.single_service_plan .title span {
    color: #ffffff;
    padding: 0.2rem 0.6rem;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #2ecc71;
    display: inline-block;
    margin-bottom: 0.5rem;
    border-radius: 0.25rem;
}
.single_service_plan .title h3 {
    font-size: 18px;
}
.single_service_plan .title p {
    line-height: 1;
}
.single_service_plan .title .line {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #ec603f;
}
.single_service_plan .price {
    margin-bottom: 15px;
}
.single_service_plan .price h4 {
    position: relative;
    z-index: 1;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 0;
    color: #4b1a5a;
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, from(#ec603f), to(#4b1a5a));
    background-image: linear-gradient(90deg, #ec603f, #4b1a5a);
}
.single_service_plan .description {
    position: relative;
    margin-bottom: 15px;
}
.single_service_plan .description p {
    line-height: 16px;
    margin: 0;
    padding: 10px 0;
    display: flex;
    align-items: start;
}
.single_service_plan .description p i {
    color: #2ecc71;
    margin-right: 5px;
}
.single_service_plan .description p .fa-times{
    color: #e74c3c;
}
.single_service_plan.active,
.single_service_plan:hover,
.single_service_plan:focus {
    -webkit-box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
    box-shadow: 0 6px 50px 8px rgba(21, 131, 233, 0.15);
}
.single_service_plan .side-shape img {
    position: absolute;
    width: auto;
    top: 0;
    right: 0;
    z-index: -2;
}
/*==================
 About page
====================*/
.mrgn-top-50{
  margin-top: 50px;
}
.about_item {
  margin-bottom: 50px;
}
.about_item h4{
  font-size: 20px;
  display: inline-block;
  color: #4b1a5a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#ec603f), to(#4b1a5a));
  background-image: linear-gradient(90deg, #ec603f, #4b1a5a);
}
/*==================
 PRODUCT DETAILS PAGE
====================*/

#product-details {
  display: inline;
  float: left;
  width: 100%;
}
.product-details-area {
  display: inline;
  float: left;
  padding: 30px 0 0;
  width: 100%;
}
.simpleLens-gallery-container{
  display: flex;
}
.simpleLens-thumbnails-container{
  width: 90px;
  display: flex;
  margin-right: 15px;
  flex-direction: column;
}
.product-view-price{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.product_details_option{
  margin-top: 15px;
}
.prod-view-size a {
  color: #111111;
  font-size: 15px;
  font-weight: 400;
  display: inline-block;
  border: 1px solid #e6dede;
  padding: 6px 15px;
  margin-bottom: 0;
  margin-right: 5px;
  cursor: pointer;
}
.prod-view-size a.active {
    background: #000;
    background-image: linear-gradient(to right, #ec603f, #4b1a5a);
    color: #ffffff;
    border-color: #ec603f;
}
.prod-quantity {
  margin-top: 20px;
}
.prod-quantity form {
  display: inline-block;
}
.prod-quantity form select {
  width: 75px;
  height: 37px;
  padding: 10px;
  border: 1px solid #e6dede;
}
.prod-quantity form select option{
  padding: 0px;
}
.add-to-cart-btn{
  display: inline-block;
  margin-left: 10px;
  background: #000 none repeat scroll 0 0;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 9px 30px;
  height: 37px;
  vertical-align: top;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.add-to-cart-btn:hover, .add-to-cart-btn:focus{
  opacity: 0.8;
  color: #ffffff;
}
.product-details-bottom {
  display: inline;
  float: left;
  width: 100%;
  margin-top: 40px;
}
.product-details-bottom .nav-tabs {
  text-align: center;
  border-bottom-color: #e6dede;
}
.product-details-bottom .nav-tabs li {
  display: inline-block;
  float: none;
  margin-bottom: 0px;
  margin-right: 50px;
}
.product-details-bottom .nav-tabs li a {
  border-radius: 0;
  font-size: 20px;
  color: #b7b7b7;
  padding: 0;
  border: none;
  padding-bottom: 10px;
  border:none;
  border-bottom: 2px solid transparent;
}
.product-details-bottom .nav-tabs li a:hover{
  background:none;
  color: #111;
}
.product-details-bottom .nav-tabs li.active a{
  border:none;
  color: #111111;
  border-bottom: 2px solid #ec603f;
}
.product-details-bottom #description {
  padding: 20px 10px;
}
.product-details-bottom .product-review-area {
  display: inline;
  float: left;
  padding: 20px 0;
  width: 100%;
}
.product-details-bottom .product-review-area > h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.review-nav li {
  margin-bottom: 20px;
}
.review-nav li .media-object {
  display: block;
  height: 60px;
  min-width: 60px;
  border-radius: 50px;
}
.review-nav li .media-body {
  border: 1px solid #e6dede;
  padding: 10px 10px 0px;
}
.review-nav li .media-body .media-heading {
  font-size: 16px;
}
.review-nav li .media-body .product-rating span {
  color: #ff6600;
}
.product-details-bottom .review-form {
  margin-top: 20px;
}
.product-details-bottom .review-form label {
  color: #555;
}
.product-details-bottom .review-form textarea {
  height: 200px;
}
.product-details-bottom .review-form .review-submit {
  background: #000 none repeat scroll 0 0;
  background-image: linear-gradient(to right, #ec603f, #4b1a5a);
  border-radius: 0;
  border:none;
  font-size: 18px;
  height: 45px;
  line-height: 35px;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.product-details-bottom .review-form .review-submit:hover {
  opacity: 0.8;
}
.product-details-bottom .review-form .form-control {
  box-shadow: none;
  border-radius: 0;
}
.product-details-bottom .review-form .form-control:focus {
  box-shadow: none;
}
.product-related-item {
  display: inline;
  float: left;
  width: 100%;
  margin-bottom: 85px;
}
.product-related-item h3 {
  border-bottom: 1px solid #e6dede;
  margin-bottom: 30px;
  padding-bottom: 20px;
  text-align: center;
}
/*---------------------
  checkout page css
-----------------------*/
.checkout_title {
    color: #333333;
    border-bottom: 2px solid #e6dede;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.checkout_input {
    margin-bottom: 6px;
}
.checkout_input p {
    color: #000000;
    margin-bottom: 12px;
}
.checkout_order {
    background-image: linear-gradient(to right, #ec603f, #4b1a5a);
    padding: 30px;
}
.checkout_order .order_title {
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.checkout_order_products {
    font-size: 16px;
    color: #ffffff;
    overflow: hidden;
    margin-bottom: 18px;
}
.checkout_order_products span {
    float: right;
}
.checkout_total_products {
    margin-bottom: 20px;
}
.checkout_total_products li {
    font-size: 16px;
    color: #ffffff;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    margin-bottom: 15px;
}
.checkout_total_products li span {
    color: #ffffff;
    float: right;
}
.checkout_total_all li {
    list-style: none;
    font-size: 16px;
    color: #ffffff;
    line-height: 40px;
    overflow: hidden;
}
.checkout_total_all li span {
    color: #ffffff;
    float: right;
}
.checkout_total_all {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 15px 0;
    margin-bottom: 26px;
}
.site-btn {
  display: inline-block;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    padding: 7px 20px;
    color: #ffffff;
    background: transparent;
    letter-spacing: 2px;
    border: 2px solid #ffffff;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
    width: 100%;
    margin-top: 8px;
}
.site-btn:hover{
  background-color: #ffffff;
  color: #ec603f;
}
/*==================
 RESPONSIVE DESIGN
====================*/
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
  .about_item {
    margin: 50px 0px;
  }
}
@media (max-width: 767px) {
  #header .header-bottom .header-bottom-area .login{
    margin-right: 20px;
    margin-left: 15px;
  }
  #header .header-bottom{
    padding:10px 0px;
  }
  .navbar-header{
    background-color: #ccc;
  }
  .navbar-default .navbar-toggle {
    border-radius: 0;
    border-color: #000000;
    float: left;
    width: 100%;
    font-size: 16px;
    margin:0px;
    color: #000000;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
  }

  .navbar-default .navbar-collapse{
    position: absolute;
    z-index: 16;
    background-color: #000000;
    color:#ffffff;
    width: 100%;
  }
  .navbar-toggle{
    border:none;
  }
  .navbar-toggle button{
    padding: 10px;
    background: transparent;
    border: 1px solid #000;
    margin-right: 10px;
  }
  .navbar-toggle i.fa.fa-angle-down{
    float: right;
    font-size: 22px;
    margin-top: 10px;
    margin-right: 10px;
  }
  #menu{
    box-shadow: none;
  }
  #menu .menu-area .navbar-default .navbar-nav li{
    display: block;
    text-align: left;
  }
  #menu .menu-area .navbar-default .navbar-nav li a{
    color: #fff;
  }
  .navbar-nav > li > .dropdown-menu{
    position: relative;
    width: 100%;
    background: transparent;
    padding-left: 5px;
  }
  #product .product-area {
    padding: 0 15px;
  }

  .carousel-control .fa-angle-right {
    right: 10px;
  }
  
  #footer .footer-top .footer-top-area .footer-widget {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .product-catg figure .add-card-btn{
    font-size: 14px;
    font-weight: normal;
  }
  .carousel-cell{
    width: 50%;
  }
  .flickity-prev-next-button .flickity-button-icon{
    width: 35% !important;
  }
  #category .flickity-prev-next-button{
    top: -30px;
  }
  #category .flickity-prev-next-button.previous{
    right: 50%;
  }
  #category .flickity-prev-next-button.next{
    right: 35%;
  }
  .carousel.row.flickity-enabled{
      margin:0px;
  }
  #category h2.section-title{
      padding-bottom: 10px;
  }
  .spad{
    padding: 40px 0px;
  }
  .contact_form input{
    margin-bottom: 15px;
  }
  .contact_form textarea{
    margin-bottom: 10px;
  }
  .product-view-content{
    text-align: center;
  }
}
@media (max-width: 440px){
  .myaccount-login{
    width: 100%;
  }
  #footer .footer-bottom .footer-bottom-area > p {
    width: 100%;
    text-align: center;
  }

  #footer .footer-bottom .footer-bottom-area .footer-payment {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  .simpleLens-thumbnails-container a{
    width: 55px;
  }
}
@media (max-width: 360px) {
  #header .header-bottom .header-bottom-area .login {
      margin-right: 5px;
      margin-left: 15px;
  }
  .add-to-cart-btn {
    min-width: 150px;
  }
}


