.invalid-feedback {
    display: block !important;
}

.os-content {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
    visibility: visible;
    background: #162c5e !important;
}

[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, 0.8);
    background: #fff !important;
}

.navbar-white {
    background-color: #162c5e !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #254182 !important;
    color: #fff;
}

.os-host-overflow > .os-padding {
    overflow: hidden;
    background: #162c5e !important;
}

.layout-fixed .wrapper .sidebar {
    height: calc(100vh - (3.5rem + 1px));
    background: #162c5e !important;
}
.elevation-3 {
    box-shadow: none !important;
}

.brand-link .brand-image {
    float: inherit !important;
    line-height: inherit !important;
    margin-left: inherit !important;
    margin-right: inherit !important;
    margin-top: inherit !important;
    max-height: inherit !important;
    width: 44% !important;
    border-radius: 0 !important;
    text-align: center !important;
    margin: 0 auto !important;
}

[class*="sidebar-dark"] .brand-link {
    border-bottom: 1px solid #4b545c;
    color: rgba(255, 255, 255, 0.8);
    background: #fff !important;
    text-align: center !important;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 0.7rem !important;
}

.card-primary.card-outline {
    border-top: 3px solid #162c5e;
}
.bg-primary {
    background-color: #162c5e !important;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #162c5e !important;
    border-color: #162c5e !important;
}

.card-body a {
    color: #162c5e !important;
}

.card-body a.btn-primary {
    color: #fff !important;
}
.card-body a.btn-success {
    color: #fff !important;
}

.card-body a.btn-danger {
    color: #fff !important;
}

.main-footer a {
    color: #162c5e !important;
}

/*********/
.card-primary:not(.card-outline) > .card-header {
    background-color: #162c5e !important;
}

.bg-teal {
    background-color: #162c5e !important;
}

.modal-header .close {
    color: #fff !important;
}

.btn-primary {
    background-color: #162c5e !important;
    border-color: #162c5e !important;
}

.btn-secondary {
    background-color: #162c5e !important;
    border-color: #162c5e !important;
}
/*.btn-success {
    background-color: #162c5e !important;
    border-color: #162c5e !important;
}*/

/*.btn-danger {
    float: right !important;
}*/

.bg-info {
    background-color: #162c5e !important;
}

.progress-bar {
    background-color: #162c5e !important;
}

.icheck-primary.d-inline {
    display: ruby !important;
    line-height: 30px !important;;
}

#realTimeReport {
    width: 137% !important;
    display: block;
    overflow-x: scroll;
}